.app-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 100vh;
   padding: 20px;
   overflow-y: auto;
}

.card {
   background: rgba(255, 255, 255, 0.95);
   border-radius: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   padding: 30px;
   width: 100%;
   max-width: 800px;
   text-align: center;
   transition: transform 0.3s ease;
   max-height: 90vh;
   overflow-y: auto;
}

.card-header {
   align-items: center;
   margin-bottom: 20px;
}

.title {
   font-size: 2.5rem;
   color: #6b48ff;
   margin: 0;
   font-weight: bold;
}